@import 'tailwindcss';

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background: #E5E5E5;
}

@layer components{
  .sidebar-icon {
    @apply relative flex items-center justify-center h-15 w-full hover:translate-y-1.5  mx-auto hover:text-blue-500 hover:bg-blue-200 transition-all;
  }
}